---
interface Props {
  name: string;
  texto: string;
  telefono: string;
  telefono1: string;
  correo: string;
}

const { name, texto, telefono, telefono1, correo } = Astro.props;
---

<!-- Poner aqui que cuando le de click en la oficina pueda ver la ubicacion donde esta y poder tocar como llegar -->
<header class="p-4 flex-grow ">
  <span class="text-xs text-center font-black mr-2 px-2.5 py-0.5">
    {name}
  </span>
  <p class="text-sm">{texto}</p>
  <p class="text-sm">{telefono}</p>
  <p class="text-sm">{telefono1}</p>
  <p class="text-sm">{correo}</p>
</header>
